body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  margin-top: 30px;
}

button {
  padding: 10px 20px;
  margin: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

table {
  margin: auto;
  border-collapse: collapse;
}

th {
  background-color: #007bff;
  color: white;
}

th,
td {
  padding: 10px;
}